<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--从springboot中获取配置，如果获取不到使用默认值-->
    <springProperty scope="context" name="LOG_HOME" source="logging.file.path"/>
    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>
    <springProperty scope="context" name="LOG_MAX_SIZE" source="logging.file.max-size"/>
    <springProperty scope="context" name="LOG_TOTAL_SIZE_CAP" source="logging.file.total-size-cap"/>
    <springProperty scope="context" name="LOG_MAX_HISTORY" source="logging.file.max-history"/>

    <!--输出样式-->
    <propert name="LOG_PATTERN"
             value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n%wEx"/>

    <!-- 滚动文件Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME:-log}/main.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME:-log}/main-%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY:-30}</maxHistory>
            <maxFileSize>${LOG_MAX_SIZE:-10MB}</maxFileSize>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP:-10GB}</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 设置日志级别 -->
    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="FILE"/>
    </root>

    <!-- 针对特定包或类设置日志级别 -->
<!--    <logger name="com.example" level="info"/>-->
</configuration>